**/__pycache__/
*.swp
_build/
*.bak
builds/
appcenter/preinst
ics-values.yaml
tilt_config.json
helm/intercom-service/charts

# kyverno test files
helm/**/.kyverno/kyverno-test.yaml
helm/**/.kyverno/manifest.yaml

