---

# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH

include:
  - project: "univention/dev/nubus-for-k8s/common-ci"
    ref: "v1.55.3"
    file:
      - "defaults/stages.yaml"
      - "defaults/nubus-workflow.yaml"
      - "jobs/check-debian-updates.yaml"
      - "jobs/container-build-external.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/lint-pre-commit-legacy.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/package-and-publish-helm-charts-external.yaml"
      - "templates/sonarqube.yaml"
  - component: "$CI_SERVER_FQDN/univention/dev/nubus-for-k8s/common-ci/vul-man@v1.55.3"
    inputs:
      helm_chart_name: "intercom-service"
      helm_values: "--helm-values ${CI_PROJECT_DIR}/helm/intercom-service/linter_values.yaml"

trigger-docs:
  stage: "trigger"
  variables:
    RELEASE_VERSION: "${RELEASE_VERSION}"
    DOCS_DIR: "docs"
    LANG: "C.UTF-8"
    DEBIAN_FRONTEND: "noninteractive"
    UNIVENTION_BASECONF: "/dev/null"
    DOC_TARGET_NAME: "intercom-service"
    DOC_TARGET_VERSION: "1.10"
    DOC_TARGET_PATH: "$DOC_TARGET_NAME/$DOC_TARGET_VERSION"
  trigger:
    include:
      - local: ".gitlab-ci.docs.yml"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: "never"
    - changes:
        - "$DOCS_DIR/**/*"

lint-pre-commit-full:
  rules:
    - when: never

lint-pre-commit-legacy:
  before_script:
    - helm repo add bitnami "https://charts.bitnami.com/bitnami"

.build-matrix: &build-matrix
  - IMAGE_NAME:
      - "intercom-service"
    KANIKO_BUILD_CONTEXT: "$CI_PROJECT_DIR/intercom"
    DOCKERFILE_PATH: "docker/intercom-service/Dockerfile"

container-build:
  parallel:
    matrix: *build-matrix

container-malware-scan:
  parallel:
    matrix: *build-matrix

container-sign-external:
  parallel:
    matrix: *build-matrix

push-image-external:
  parallel:
    matrix: *build-matrix

container-release-attestation:
  parallel:
    matrix: *build-matrix

chart-tests:
  image: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.10@sha256:5cba2a8fc4c6d5fa82bcec177ad433ab74695b4e02b2a2e9ed9b53c734b34dbf"
  stage: "test"
  needs: []
  script:
    - "helm dep build helm/intercom-service"
    - "pytest -vv helm-unittests"

sonarqube:
  extends: .sonarqube
  needs: []

...
