<!DOCTYPE html>
<html lang="en">
<head/>
<body>
<p> This is for the Frame for clients to load. Loggend in status: <%= sessionStatus%></p>

<script type="text/javascript">
    // TODO: Proper Session Handling: https://openid.net/specs/openid-connect-session-1_0.html
    // TODO: Proper security assessment / restrict postmessage target origin as much as possible
    parent.postMessage({"loggedIn": <%= sessionStatus %>, "csrftoken": "<%= csrftoken %>"}, "*")
</script>
</body>
</html>
