<!DOCTYPE html>
<html lang="en">
<head/>
<body>
<p> This is a security flaw by design to test/assert token composition. Do not deploy to production </p>
<p data-id="id_token"><%=id_token%></p>
<p data-id="access_token"><%=access_token%></p>
<p data-id="ox_access_token"><%=ox_access_token%></p>
<p data-id="matrix_access_token"><%=matrix_access_token%></p>
</body>
</html>
