{{/*
SPDX-FileCopyrightText: 2024-2025 Univention GmbH
SPDX-License-Identifier: AGPL-3.0-only
*/}}
---
apiVersion: "v1"
kind: "Secret"
metadata:
  name: {{ include "common.names.fullname" . | quote }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- if .Values.additionalAnnotations }}
  annotations:
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{- with .Values.ics }}
  INTERCOM_URL: {{ include "intercom-service.fqdn" $ | trim | quote }}
  BASE_URL: {{ include "intercom-service.fqdn" $ | trim | quote }}
  PORT: {{ $.Values.service.ports.http.containerPort | quote }}
  PROXY: {{ .proxy | quote }}
  ENABLE_SESSION_COOKIE: {{ .enableSessionCookie | quote }}
  SESSION_ROLLING_DURATION: {{ .sessionRollingDuration | quote }}
  LOG_LEVEL: {{ .logLevel | quote }}
  ORIGIN_REGEX: {{ .originRegex | quote }}
  USER_UNIQUE_MAPPER: {{ .userUniqueMapper | quote }}
  USERNAME_CLAIM: {{ .usernameClaim | quote }}
  # Keycloak
  {{- if .keycloak.enabled }}
  ISSUER_BASE_URL: {{ .issuerBaseUrl | quote }}
  KEYCLOAK_URL: "{{ if .keycloak.url }}{{ .keycloak.url }}{{ else }}{{ .default.protocol }}://{{ .keycloak.subdomain }}.{{ .default.domain }}{{ end }}"
  REALM_NAME: {{ .keycloak.realm | quote }}
  {{- end }}
  # Nordeck
  NORDECK_MODE: {{ .nordeck.mode | quote }}
  NORDECK_URL: "{{ if .nordeck.url }}{{ .nordeck.url }}{{ else }}{{ .default.protocol }}://{{ .nordeck.subdomain }}.{{ .default.domain }}{{ end }}"
  # Matrix
  MATRIX_ENABLED: {{ .matrix.enabled | quote }}
  MATRIX_URL: "{{ if .matrix.url }}{{ .matrix.url }}{{ else }}{{ .default.protocol }}://{{ .matrix.subdomain }}.{{ .default.domain }}{{ end }}"
  MATRIX_SERVER_NAME: {{ .matrix.serverName | quote }}
  # Nextcloud
  NC_ENABLED: {{ .nextcloud.enabled | quote }}
  NC_ORIGIN: "{{ if .nextcloud.originUrl }}{{ .nextcloud.originUrl }}{{ else }}{{ .default.protocol }}://{{ .nextcloud.origin }}.{{ .default.domain }}{{ end }}"
  NC_URL: "{{ if .nextcloud.url }}{{ .nextcloud.url }}{{ else }}{{ .default.protocol }}://{{ .nextcloud.subdomain }}.{{ .default.domain }}{{ end }}"
  NC_AUDIENCE: {{ .nextcloud.audience | quote }}
  # XWIKI
  XWIKI_ENABLED: {{ .xwiki.enabled | quote }}
  XWIKI_URL: "{{ if .xwiki.url }}{{ .xwiki.url }}{{ else }}{{ .default.protocol }}://{{ .xwiki.subdomain }}.{{ .default.domain }}{{ end }}"
  XWIKI_AUDIENCE: {{ .xwiki.audience | quote }}
  # UCS
  PORTAL_URL: "{{ if .portal.url }}{{ .portal.url }}{{ else }}{{ .default.protocol }}://{{ .portal.subdomain }}.{{ .default.domain }}{{ end }}"
  # Redis
  REDIS_HOST: {{ .redis.host | quote }}
  REDIS_PORT: {{ .redis.port | quote }}
  REDIS_SSL: {{ .redis.ssl.enabled | quote }}
  REDIS_MTLS: {{ .redis.ssl.mTLS.enabled | quote }}
  {{- if .redis.username }}
  REDIS_USER: {{ .redis.username | quote }}
  {{- end }}
  # OIDC
  CLIENT_ID: {{ .oidc.id }}
  {{- end }}
...

{{- if and .Values.ics.redis.ssl.mTLS.enabled .Values.ics.redis.ssl.mTLS.clientKey .Values.ics.redis.ssl.mTLS.clientCert }}
---
apiVersion: "v1"
kind: "Secret"
metadata:
  name: {{ printf "%s-redis-client-credentials" (include "common.names.fullname" .) }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- if .Values.additionalAnnotations }}
  annotations:
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
type: kubernetes.io/tls
stringData:
  tls.key: |-
{{ .Values.ics.redis.ssl.mTLS.clientKey | indent 4 }}
  tls.crt: |-
{{ .Values.ics.redis.ssl.mTLS.clientCert | indent 4 }}
...
{{- end }}
