[Unit]
Description="Intercom Service"

[Service]
ExecStart=/usr/bin/node backend.js
WorkingDirectory=/opt/intercom
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Intercom
Environment=NODE_ENV=production PORT=8008

[Install]
WantedBy=multi-user.target
