CLIENT_ID=intercom
CLIENT_SECRET=<secret>
SECRET=<secret>
ISSUER_BASE_URL: 'https://id.dpx-sso1.at-univention.de/auth/realms/dpx-sso1'
BASE_URL: 'http://ic.p.test'
MATRIX_AS_SECRET: <secret>
MATRIX_URL: https://matrix.dpx-sso1.at-univention.de
MATRIX_SERVER_NAME: matrix.dpx-sso1.at-univention.de
NORDECK_URL: https://meetings-widget-api.dpx-sso1.at-univention.de
MATRIX_LOGIN_TYPE: uk.half-shot.msc2778.login.application_service
PROXY: { "host": "localhost", "port": "8079" }
PORTAL_API_KEY: faiojiofgjoi
